* {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.custom-btn {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.custom-btn1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-color: white;
}